.sortable {
  cursor: pointer;
  color: #dd5;
}

.warning {
  background-color: #d90429;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #f4f1de;
}

.header-row {
  background: #e07a5f;
  color: #fff;
}

th,
td {
  text-align: left;
  margin: 5px 10px;
  padding: 6px;
}
